.houses-container {
  display: grid;
  margin: 0 auto;
  max-width: 900px;

}
@media (min-width: 500px) {
  .houses-container { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 100px) {
  .houses-container { grid-template-columns: repeat(2, 1fr); }
}
