  <app-house
    image= "https://d10teawewbw20u.cloudfront.net/images/2019/3/32040a06654.jpg"
    city= "Montargil"
    country = "Portugal"
    host = "Anfitrião individual"
    [price] = 240
    [stars] = 4.9
  ></app-house>

  <app-house
    image= "https://cf.bstatic.com/xdata/images/hotel/max500/384099146.jpg?k=f8040fd3a919f997ae0c5e1c297511b38b336c4a2e64330d4b4c396efaaee19e&o=&hp=1"
    city= "Sesimbra"
    country = "Portugal"
    host = "Anfitrião profissional"
    [price] = 324
    [stars] = 4.2
  ></app-house>
