<div class="houses-container">
  <app-house
    image= "https://d10teawewbw20u.cloudfront.net/images/2019/3/32040a06654.jpg"
    city= "Montargil"
    country = "Portugal"
    host = "Anfitrião individual"
    [price] = 240
    [stars] = 4.9
  ></app-house>
  <app-house
    image= "https://cf.bstatic.com/xdata/images/hotel/max500/384099146.jpg?k=f8040fd3a919f997ae0c5e1c297511b38b336c4a2e64330d4b4c396efaaee19e&o=&hp=1"
    city= "Sesimbra"
    country = "Portugal"
    host = "Anfitrião profissional"
    [price] = 324
    [stars] = 4.2
  ></app-house>
  <app-house
    image= "https://images.interhome.group/5A56365000771EEAA9CF74A4C83022C8/tr:n-dp_imageslider_l%20755w"
    city= "Loulé"
    country = "Portugal"
    host = "Anfitrião profissional"
    [price] = 296
    [stars] = 3.2
  ></app-house>
  <app-house
    image= "https://a0.muscache.com/im/pictures/35148387/fcf23ec9_original.jpg?im_w=720"
    city= "Portalegre"
    country = "Portugal"
    host = "Anfitrião profissional"
    [price] = 100
    [stars] = 3.8
  ></app-house>
.  <app-house
    image= "https://a0.muscache.com/im/pictures/35148387/fcf23ec9_original.jpg?im_w=720"
    city= "Comporta"
    country = "Portugal"
    host = "Anfitrião profissional"
    [price] = 1200
    [stars] = 5.0
  ></app-house>
  <app-house
    image= "https://a0.muscache.com/im/pictures/35148387/fcf23ec9_original.jpg?im_w=720"
    city= "Olhão"
    country = "Portugal"
    host = "Anfitrião profissional"
    [price] = 2250
    [stars] = 4.3
  ></app-house>
  <app-house
    image= "https://a0.muscache.com/im/pictures/35148387/fcf23ec9_original.jpg?im_w=720"
    city= "Porches"
    country = "Portugal"
    host = "Anfitrião profissional"
    [price] = 578
    [stars] = 4.6
  ></app-house>
  <app-house
    image= "https://a0.muscache.com/im/pictures/35148387/fcf23ec9_original.jpg?im_w=720"
    city= "Porches"
    country = "Portugal"
    host = "Anfitrião profissional"
    [price] = 578
    [stars] = 4.6
  ></app-house>
</div>

