.person-presentation {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  .person-photo {
    width: 20%;

    img {
      border-radius: 100%;
    }
  }

  .person-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;

    p {
      margin: 2px;
    }
  }

  small {
    margin: 2px 0;
  }
}
