<div class="search-container">
  <input type="text" (change)="getInput($event)" placeholder="Search for...">
  <div id="search-results">
      <app-house *ngFor="let house of houseResults"
                 [image]="house.featured_photo"
                 [city]="house.city"
                 [country]="house.country"
                 [subtitle]="house.host_type"
                 [price]="house.price"
                 [stars]="house.rating"
                 [id]="house.id"
      >
      </app-house>
  </div>
<!--  <button id="more-results-button" (click)="getMoreResults($event)">Mais resultados</button>-->
</div>
