<div class="welcome-container">
  <h1>
    Bem Vindo.a
  </h1>
  <h2>
    Ao seu perfil
  </h2>
  <h2>
    As minhas reservas
  </h2>
  <div class="current-booking"  *ngIf="currentBookings">
    <div class="house-container" *ngFor="let house of currentBookings"
    >
        <div class="house-image">
          <img src="{{house.featured_photo}}" alt="house-img"/>
          <div class="heart-icon" (click)="upBnbService.toggleFavorite(house.id)">
            <fa-icon [icon]="upBnbService.isFavorite(house.id) ? faHeartSolid : faHeart"></fa-icon>
          </div>
        </div>
        <div class="house-details">
          <div class="house-details-text">
            <p>{{house.city}}, {{house.country}}</p>
            <small>{{house.time}}</small>
            <small><strong>{{house.price}}€</strong></small>
          </div>
          <div>
            <fa-icon [icon]="faStar"></fa-icon>
            {{house.rating}}
          </div>
        </div>
    </div>
  </div>
  <h2>
    Reservas Passadas
  </h2>
  <div *ngIf="pastBookings">
    <div class="current-booking" *ngFor="let house of pastBookings"
    >
      <div class="house-container">
        <div class="house-image">
          <img src="{{house.featured_photo}}" alt="house-img"/>
          <div class="heart-icon" (click)="upBnbService.toggleFavorite(house.id)">
            <fa-icon [icon]="upBnbService.isFavorite(house.id) ? faHeartSolid : faHeart"></fa-icon>
          </div>
        </div>
        <div class="house-details">
          <div class="house-details-text">
            <p>{{house.city}}, {{house.country}}</p>
            <small>{{house.time}}</small>
            <small><strong>{{house.price}}€</strong></small>
          </div>
          <div>
            <fa-icon [icon]="faStar"></fa-icon>
            {{house.rating}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
