.welcome-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 900px;

  h1 {
    margin: 0;
  }

  .subsection-title {
    margin-top: 20px;
  }
  .current-bookings, .past-bookings {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    justify-content: space-evenly;

    app-house {
      width: 46%;
    }
  }
}
