<div class="house-container" >
  <div class="house-image" >
    <a [routerLink]="['/details', id]" >
      <img src="{{image}}" alt="house-img"/>
    </a>
    <div class="heart-icon" (click)="upBnbService.toggleFavorite(id)">
      <fa-icon [icon]="upBnbService.isFavorite(id) ? faHeartSolid : faHeart"></fa-icon>
    </div>
  </div>
  <div class="house-details">
    <div class="house-details-text">
      <h5 >{{city}}, {{country}}</h5>
      <small>{{host}}</small>
      <small><strong>{{price}}€</strong> noite</small>
    </div>
    <div>
      <fa-icon [icon]="faStar"></fa-icon>
      {{stars}}
    </div>
  </div>
</div>

