<div class="house-container" [ngClass]="type">
  <div *ngIf="image">
    <div class="house-image" style="background-image: url({{ image }})">
      <div class="heart-icon" (click)="upBnbService.toggleFavorite(id)">
        <fa-icon [icon]="upBnbService.isFavorite(id) ? faHeartSolid : faHeart"></fa-icon>
      </div>
    </div>
  </div>
  <!--  house-details div clickable to get details-->
  <div class="house-details" [routerLink]="['/details', id]">
    <div class="house-details-text">
      <p>{{city}}<span *ngIf="country">, {{country}}</span></p>
      <small>{{types_host[host] || time }}</small>
      <small *ngIf="price"><strong>{{price}}€</strong> noite</small>
    </div>
    <div class="house-rating">
      <fa-icon [icon]="faStar"></fa-icon>
      {{stars}}
    </div>
  </div>
</div>




