.house-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 10px 5px;

  .house-image {
    position: relative;
    border-radius: 4px;
    background-size: cover;
    width: 100%;
    padding-bottom: 57%;

    .heart-icon {
      position: absolute;
      top: 10px;
      right: 9px;
      cursor: pointer;
      color: white;

    }
  }

  .house-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .house-details-text {
      h5 {
        display: block;
        margin: 0;
        padding: 0;
      }

      small {
        display: block;
        margin: 0;
        padding: 0;
      }
    }


  }

}
