<h1>Favoritos</h1>
<div class="favorites-container" *ngIf="favHousesByCountry">
  <!--  first loop: iteration through countries-->
  <div class="country-name" *ngFor="let country of getObject()">
    <h2>{{country}}</h2>
    <!--  second loop: iterating through fav houses of this country-->
    <app-house type="favorites" *ngFor="let house of favHousesByCountry[country]"
               [image]="house.featured_photo"
               [city]="house.city"
               [host]="house.host_type"
               [price]="house.price"
               [stars]="house.rating"
               [id]="house.id">
    </app-house>
  </div>
</div>

