<div class="details-container" *ngIf="details"> <!-- condition because "object is possibly undefined" (can be null) -->
  <h1>
    {{details.title}}
  </h1>
  <h4>
    <fa-icon [icon]="faStar"></fa-icon>
    {{details.rating}} - {{details.city}}, {{details.country}}
  </h4>

  <div class="house-image">
  <img [src]="details.featured_photo" alt="house-photo"/>
  <div class="heart-icon" (click)="this.UpBnbService.toggleFavorite(details.id)">
    <fa-icon [icon]="this.UpBnbService.isFavorite(details.id) ? faHeartSolid : faHeart"></fa-icon>
  </div>
  </div>
  <h5>
    {{details.price}}€ noite
  </h5>
  <p>
    {{details.description}}
  </p>
  <div class="details-features">

    <!--    {{features}}-->
  </div>


  <div *ngIf="features">
    <div *ngFor="let houseFeature of features">
      <fa-icon [icon]="icons[houseFeature]"></fa-icon>
    </div>
  </div>

  <h4>Sobre o anfitrião</h4>
  <!-- API: Anfitriao da casa -->
  <div class="host-presentation" *ngIf="host"> <!-- condition because "object is possibly undefined" (can be null) -->
    <div class="host-portrait">
      <img [src]="host.photo" alt="host-photo">
    </div>
    <div class="host-name">
      {{host.name}}
    </div>
    <div class="host-rating">
      ☆{{host.rating}}
    </div>
  </div>

  <h4>Galeria</h4>  <!-- API: Fotos da casa -->
  <div class="house-gallery" *ngIf="photos" > <!-- condition because "object is possibly undefined" (can be null) -->
    <div *ngFor="let photo of photos">
      <img [src]="photo" alt="house-photos"/>
    </div>
  </div>

  <h4>Comentários</h4>  <!-- API: Fotos da casa -->
  <!-- API: Comentarios da casa -->
  <div *ngIf="reviews">
    <div class="house-commentaries" *ngFor="let review of reviews.reviews">
      <div class="reviewer-portrait">
        <img [src]="review.photo" alt="portrait"/>
      </div>
      <div class="review-details">
        <h5>
          {{review.name}}
        </h5>
        <p>
          {{review.date}}
        </p>
      </div>
      <p class="review-comment">
        {{review.comment}}
      </p>
    </div>
  </div>


</div>
