<div class="details-container" *ngIf="details"> <!-- condition because "object is possibly undefined" (can be null) -->
  <h1>
    {{details.title}}
  </h1>
  <h4>
    {{details.rating}}☆ - {{details.city}}, {{details.country}}
  </h4>
  <img [src]="details.featured_photo" alt="house-photo"/>
  <h5>
    {{details.price}}€ noite
  </h5>
  <p>
    {{details.description}}
  </p>
  <div class="details-features">

    <!--    {{features}}-->
  </div>

  <div *ngIf="features && features.includes('petsAllowed')">
    <fa-icon [icon]="faDog"></fa-icon>
  </div>
  <div *ngIf="features && features.includes('airConditioner')">
    <fa-icon [icon]="faAirFreshener"></fa-icon>
  </div>
  <div *ngIf="features && features.includes('tv')">
    <fa-icon [icon]="faTv"></fa-icon>
  </div>
  <div *ngIf="features && features.includes('smokingAllowed')">
    <fa-icon [icon]="faSmoking"></fa-icon>
  </div>

  <!-- API: Anfitriao da casa -->
  <div class="host-presentation" *ngIf="host"> <!-- condition because "object is possibly undefined" (can be null) -->
    <div class="host-portrait">
      <img [src] = "host.photo" alt="host-photo">
    </div>
    <div class="host-name">
      {{host.name}}
    </div>
    <div class="host-rating">
      ☆{{host.rating}}
    </div>
  </div>

  <!-- API: Fotos da casa -->
  <div class="house-gallery">
    loop through "fotografias da casa"
  </div>
  <!-- API: Comentarios da casa -->
  <div class="house-commentaries">
    loop through "comentarios da casa"
  </div>

</div>
